[submodule "NFD"]
	path = NFD
	url = https://github.com/Zhiyi-Zhang/DDoS-NFD.git
	branch = master
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/vvasavada/DDoS-NDNCXX.git
	branch = master